# something ordened

In [9]:
library(R6)

In [10]:
5L
class(5L)
length(5L)
c(5L, 4L, 3L, 2L,1L)
class(c(5L, 4L, 3L, 2L,1L))
class(Inf)
class(-Inf)
5 + 10
class(5)
c(6, 10, 64)+c(3, 10, 6)

[1] 5

[1] "integer"

[1] 1

[1] 5 4 3 2 1

[1] "integer"

[1] "numeric"

[1] "numeric"

[1] 15

[1] "numeric"

[1]  9 20 70

In [11]:
a = 1
class(a)

[1] "numeric"

In [12]:
test = 'hello'
class(test)

[1] "character"

In [13]:
class(test) = 'Nice'
class(test)

[1] "Nice"

In [14]:
summary(test)

   Length     Class      Mode
        1      Nice character

# SOMETHING DEEPER

In [15]:
Accumulator <- R6Class("Accumulator", list(
  sum = 0,
  add = function(x = 1) {
    self$sum <- self$sum + x 
    invisible(self)
  })
)

In [16]:
x <- Accumulator$new()
x
x$add(4)
x
x$add(10)
x

<Accumulator>
  Public:
    add: function (x = 1)
    clone: function (deep = FALSE)
    sum: 0

<Accumulator>
  Public:
    add: function (x = 1)
    clone: function (deep = FALSE)
    sum: 4

<Accumulator>
  Public:
    add: function (x = 1)
    clone: function (deep = FALSE)
    sum: 14

## Another Example

In [31]:
Person <- R6Class("Person", list(
  name = NULL,
  age = NA,
  initialize = function(name, age = NA) {
    self$name <- name
    self$age <- age
  },
  print = function(...) {
    cat("Person: \n")
    cat("  Name: ", self$name, "\n", sep = "")
    cat("  Age:  ", self$age, "\n", sep = "")
    invisible(self)
  }
))

In [32]:
Juan <-Person$new('Juan', 38)
Juan
batman <- Person$new("Batman")
batman
Chabelo <-Person$new('Chabelo', Inf)
Chabelo

Person:
  Name: Juan
  Age:  38

Person:
  Name: Batman
  Age:  NA

Person:
  Name: Chabelo
  Age:  Inf